.header{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 23px 63px;
    width:100%;
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width:100%;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        li{
            text-transform: uppercase;
            font-weight: 700;
            font-size: 16px;
            line-height: 23px;
            list-style: none;
            color: $base-grey;
            cursor: pointer;
            margin:0 5px;
            }
    }
    .logoBox{
        max-width: 10%;
    }
    .menu{
        max-width: 35%;
    }
    .call{
        max-width: 25%;
    }
    .socialWebs{
        max-width: 10%;
    }
    .extraMenu{
        max-width: 10%;
        .tab{
            display: none;
        }
    }
}
#tel{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    span{
        color: $black;
        font-weight: 700;
    }
}

#call_me{
    font-size: 14px;
    line-height: 17px;
    color:#AE2236;
    border-bottom: 1px dashed #AE2236;
}
}
@media screen and (max-width:769px) {
    .header{
        margin: 26px 15px;
        width:738px;
        border-bottom: 1px solid #E5E5E5;
        nav{
            .logoBox{
                display: flex;
                justify-content: flex-start;
                max-width: 25%;
                .logo{
                    display: block;
                }
            }
            .menu,
            .call,
            .socialWebs{
                display: none;

            }
            .extraMenu{
                width: 100%;
                max-width: 45%;
                .tab{
                    display: block;
                }
            }
        }
        .desktop{
            display: none;
        }

    }
}
@media screen and (max-width:321px) {
    .header{
        margin: 16px 15px;
        width:100%;
        max-width:290px;
        border-bottom: 1px solid #E5E5E5;
        nav{
            ul{
                li{
                    display: none;
                }
            }
            .logoBox{
                display: flex;
                justify-content: flex-start;
                max-width: 25%;
                .logo{
                    display: block;
                    transform: scale(.7);
                    -webkit-transform: scale(.7);
                    -moz-transform: scale(.7);
                    -ms-transform: scale(.7);
                    -o-transform: scale(.7);
                }
            }
            .menu,
            .call,
            .socialWebs{
                display: none;

            }
            .extraMenu{
                width: 100%;
                max-width: 45%;
                .tab{
                    display: block;
                }
                .mobile{
                    display: block;
                }
            }
        }
        .desktop{
            display: none;
        }

    }
}